= javascript 'dygraph-combined-dev'

%h1.title
  Microscopy lab temperature

%h5
  Tunnel with command:
  %code #{tunnel_ssh}

.row
  - current_temps.each_with_index do |pair, i|
    - name, temp = pair
    - cls = "t#{i+1}"
    .temp-box
      %h4
        %span.temp{class: cls} #{temp} °C

%form{url: '/', method: :get}
  .row
    .date-selector
      %span From:
      %input.flatpickr#startDate{type: "text", name: 'start', placeholder: "Select Date..", value: start_date}

    .date-selector
      %span To:
      %input.flatpickr#endDate{type: "text", name: 'end', placeholder: "Select Date..", value: end_date}

    .date-selector
      %input#submit{type: :submit}

#graphdiv

:javascript
  document.getElementById("startDate").flatpickr({enableTime: true});
  document.getElementById("endDate").flatpickr({enableTime: true});

  width = window.innerWidth;
  onZoom = function (minDate, maxDate, yRanges) {
    console.log(minDate, maxDate)
  }

  startDate = document.getElementById('startDate').value
  endDate = document.getElementById('endDate').value

  g = new Dygraph(
    document.getElementById("graphdiv"),
    encodeURI("/data?start="+startDate+"&end="+endDate),
    {
      colors: ["#FF0000", "#00FF00", "#0000FF"],
      width: width * 0.9,
      zoomCallback: onZoom
    }
  );
