= javascript 'dygraph-combined-dev'

%h1.title
  Microscopy lab temperature

.row
  - current_temps.each_with_index do |pair, i|
    - name, temp = pair
    - cls = "t#{i+1}"
    .temp-box
      %h4
        %span.temp{class: cls} #{temp} °C

%h2 History

%p From:
%input.flatpickr#fromDate{type: "text", placeholder: "Select Date.."}

%p To:
%input.flatpickr#toDate{type: "text", placeholder: "Select Date.."}

#graphdiv

:javascript
  document.getElementById("fromDate").flatpickr({});
  document.getElementById("toDate").flatpickr({});

  width = window.innerWidth;
  g = new Dygraph(
    document.getElementById("graphdiv"),
    "/data",
    {
      colors: ["#FF0000", "#00FF00", "#0000FF"],
      width: width * 0.9
    }
  );
