= javascript 'dygraph-combined-dev'

%h1
  Microscopy lab temperature

%h2
  Current temperatures:

  %h4
    - current_temps.each do |name, temp|
      %span.temp #{name}: #{temp}

%h2 History

%p Select time range:

#graphdiv

:javascript
  g = new Dygraph(
    document.getElementById("graphdiv"),
    "/data"
  );
