= javascript 'dygraph-combined-dev'

%h1
  Microscopy lab temperature

%h2
  Current temperatures:

  -# TODO Add temp display here and refresh via websockets

%h2 History

%p Select time range:

#graphdiv

:javascript
  g = new Dygraph(
    document.getElementById("graphdiv"),
    "temps.csv",
    {errorBars: true}
  );
