!!!
%html
  %head
    %title Lab temperature monitor
    = favicon 'thermometer.png'
    = stylesheet 'application'
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat:400,700", rel:"stylesheet"}
    %link{href: "https://unpkg.com/flatpickr/dist/flatpickr.min.css", rel:"stylesheet"}
    %script{src: "https://unpkg.com/flatpickr"}
  %body
    = yield
